.carousel-indicators button {
    width: 10px !important;
    height: 10px !important;
    border-radius: 100%;
}

.carousel-control-prev, .carousel-control-next {
    visibility: hidden;
}

body {
    background-color: rgb(0, 71, 99) !important;
    font-family: Verdana, Geneva, Tahoma, sans-serifS;
}

.second-cont {
    background-color: white;
    min-height: 50px;
    padding: 20px 20px 10px 20px;
}

.welcom-cont {
    max-width: 600px;
    margin: auto;
    padding: 5px;
}

.intro-cont {
    font-size: 20px;
}

.pg-title {
    font-weight: 800 !important;
    margin: 20px 0 !important;
}

.intro-cont svg {
    color: #d9d7d7;
}

.img-cen {
    width: 200px;
    margin: auto;
}
.corr {
    top: 0;
    bottom: auto;
    font-weight: 500;
}
.carousel-caption h2{
    color: #fff;
    font-weight: 800px !important;
}
.carousel-caption button{
    border-radius: 4px;
    background-color: #ffe36b;
    border: 1px solid #ffe36b;
    padding: 7px 10px;
    margin-bottom: 10px;
}
.wid{
    width: 400px;
}
.carousel-caption button:hover{
    background-color: #511688;
    border: 1px solid #511688;
    color: #fff;
}
.nav-item{
    color: #fff !important;
}
.nav-item a{
    text-decoration: none;
    padding:0 20px;
    color: #fff;
}
.nav-item h2{
    padding-right: 130px !important;
}
.nav-cont{
    margin-left: 325px !important;
    margin-bottom: -40px !important;
}
.nav{
    margin-bottom: -40px !important;
}
.nav-item :hover{
    color: #ffe36b;
}
/* main end  */

.inner-cont {
    margin: 40px 0 30px 0 !important;
}

.inner-cont p {
    text-align: center;
}

.icon {
    background-color: #511688;
    text-align: center;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    margin: auto;
    padding: 15px;
}

.icon svg {
    color: #e4dede;
}

h4 {
    font-weight: 700 !important;
    margin: 15px 0 !important;
    text-align: center;
}

.inner-cont button:hover {
    background-color: #511688;
    border-color: #511688;
    color: #fff;
}

.inner-cont button {
    background-color: #ffe36b;
    border: 1px solid #ffe36b;
    border-radius: 4px;
    font-size: 12px;
    padding: 10px;
    font-weight: 600;
}

.inner-cont>div {
    margin-top: 20px;
}

/* second end */

.project-cont {
    background-color: #fff;
    padding-bottom: 35px;
}

.project-title {
    width: 100px;
    margin: auto;
    font-weight: 800 !important;
}

.project-detail {
    background-color: #e4dede;
    margin-top: 35px;
}

.project-detail>div {
    padding: 20px;
}

.project-detail:hover {
    background-color: #ffe36b;
}

.project-detail button {
    border: 1px solid #e4dede;
    border-radius: 4px;
    padding: 8px;
}

.project-detail:hover button {
    background-color: #511688;
    color: #fff;
}

/* Projectcont  end */

.pricing-cont {
    background-color: #fff;
}

.pricing {
    max-width: 600px;
    margin: auto;
    text-align: center;
}

.pricing .h2 {
    /* padding-bottom: 25px; */
    padding-top: 10px;
    font-weight: 800;
}

.pricing button {
    width: 100;
    border: 1px solid #e4dede;
    border-radius: 4px;
    background-color: #ffe36b;
}

.pricing button:hover {
    background-color: #511688;
    color: #fff;
}

.plans {
    padding-top: 30px;
    margin-bottom: 50px;
}

.vr {
    border-right: 1px solid rgb(189, 189, 189);
    height: 200px;
    padding-top: 0 !important;
    margin-top: 30px !important;
}

/* price list end */

.video-slide {
    background-color: #511688;
    height: 600;
    padding: 60px 0;
}

/* external css: flickity.css */

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  body { font-family: sans-serif; }
  
  .gallery {
    background: #EEE;
  }
  
  .gallery-cell {
    width: 66%;
    height: 400px;
    margin-right: 10px;
    background: #8C8;
    counter-increment: gallery-cell;
  }
  
  /* cell number */
  .gallery-cell:before {
    display: block;
    text-align: center;
    line-height: 200px;
    font-size: 80px;
    color: white;
  }
  .h2.text-center.text-white {
    margin-bottom: 20px;
}


video{
    height: inherit;
    width: 100%;
}

/* video end */


.zippy-team {
    background-color: #fff;
    padding: 35px 0;
}

.teams {
    max-width: 600;
    margin: auto;
    text-align: center;
}
.teams .h2{
    margin-bottom: 3.0rem;
    font-weight: 800;
}
.image {
    position: relative;
}

.user-info-section {
    border-radius: 100%;
    height: 200px;
    width: 200px;
    position: relative;
}

.user-info-section .overlay {
    display: none;
    height: inherit;
    width: inherit;
    background-color: violet;
    position: absolute;
    border-radius: 100%;
    opacity: 0.4;
}
.user-info-section{
    margin: auto;
}
.user-info-section .user-info-icons {
    display: none;
    justify-content: space-around;
    height: inherit;
    width: inherit;
    position: absolute;
    align-items: center;
}

.user-info-section:hover .user-info-icons {
    display: flex;
}

.user-info-section:hover .overlay {
    display: block;
}

.user-info-section img {
    border-radius: 100%;
}

/* zippy team ends */

.zippe-life{
    background-color: #ece8e8;
    min-height: 700px;
    text-align: center;
    margin: auto !important;
}
.life .h2{
    font-weight: 700;
    padding: 50px;
}
.life{
    max-width: 375px !important;
    margin: auto;
}
.view-container{
    min-width: 375px;
    min-height: 375px;
    /* border: 1px solid black; */
}
#main-view-scroll{
    display: flex;
    min-width: 100px;
    min-height: 100px;
}
.scroll-nav{
    height: 75px;
    min-width: 27px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.scroll-nav svg{
    color: white;
}
.scroll-nav:hover{
    background-color: rgb(121, 5, 121);
}
.scroll-bar{
    display: flex;
    min-width: 375px;
    max-height: 75px;    
    margin-top: 7px;
}
.scroll-cont{
    display: block;
    min-width: 80px;
    cursor: pointer;
}

/* end scroll */

.newsletter{
    background-image: url("./image/newsletter.png");
    width: 100%;
}
.newsletter-bar{
    padding-top: 200;
    padding-bottom: 200;
}
.newsletter-bar .h2{
    font-weight: 800;
}
.newsletter-bar input{
    margin-top: 25px ;
    width: 50%;
    height: 45px;
    border: 1px solid white;
    border-radius: 4px;
    padding-left: 12px;
    font-size: 18px;
}
.newsletter-bar button{
    height: 45px;
    width: 10%;
    border-radius: 4px;
    background-color: #ffe36b;
    border: 1px solid #ffe36b;
}
.newsletter-bar button:hover{
    background-color: rgb(121, 5, 121);
    color: #fff;
    border: 1px solid rgb(121, 5, 121);
}
.newsletter-bar input:focus{
    border: 1px solid white;
}

.blog{
    background-color: #fff;
    min-height: 700px;
}
.blog .h2{
    padding: 12px 0;
    font-weight: 800;
    padding-top: 30px;
}
.blog-container{
    max-width: 600px;
    margin: auto;
    text-align: center;
}
.blog img{
    width: 200px;
    height: 150px;
    border-radius: 2px;
    margin-top: 35px;
}
.blog .h5{
    margin-top: 15px;
}
.blog p{
    margin-top: 12px;
}
.blog button{
    background-color: #ffe36b;
    border: 1px solid #ffe36b;
    border-radius: 4px;
    width: 150px;
    height: 50px;
}
.blog button:hover{
    background-color:rgb(121, 5, 121);
    border: 1px solid rgb(121, 5, 121);
    color: #fff;
}

/* blog */

.map-contact{
    background-color: #fff;
    min-height: 700px;
    border: #fff 1px solid;
}
.form{
    background-color: #ffe36b;
    padding: 30px;
}
/* .map-contact{
    padding-top: 25px;
    padding-bottom: 25px;
} */
.img-dis , .form-dis{
    padding-top:15px !important;
    padding-bottom: 15px !important;
}
.map-contact label{
    padding-top: 10px;
}
.map-contact input, .map-contact textarea{
    margin-top: 10px;
    width: 80% !important;
    border: #fff 1px solid;
}
.form button{
    width: 80% !important;
    background-color: #511688;
    color: #fff;
    margin-top: 15px;
    height: 35px;
}
.details{
    width: 70%;
    margin: auto;
}
.detail-cont{
    margin-top: 15px !important;
}
.pad{
    margin-top: 15px !important;
}